# Automatic Card Generation from Template 
## *Image Manipulation using Python*

In [18]:
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [19]:
from make_qr_code import generate_qr

In [20]:
df = pd.read_csv("students.csv")
df = df.dropna()

In [21]:
df

    id             name         dob class
0  1.0  Captain America    4/6/1918   XII
1  2.0         Iron Man  29/07/1970    XI
2  3.0             Hulk   8/12/1968    XI
3  4.0             Thor  00/00/0000   XII
4  5.0      Black Widow    1/1/1984     X
5  6.0          Hawkeye    7/1/1971     X
6  7.0   Doctor Strange    1/1/1930   XII

In [22]:
records = df.to_dict(orient='record')

In [23]:
def generate(data):
    
    A= data['id']
    B= data['name']
    C= data['class']
    D= data['dob']
    return generate_qr(A, B, C, D)

In [24]:
for record in records:
    qr = generate(record)
    qr.save(f"photos/{record['id']}.jpg")

In [27]:
font = ImageFont.truetype("OpenSans-Semibold.ttf", size=25)

In [45]:
def generate_card(data):
    template = Image.open("template.png")
    pic = Image.open(f"photos/{data['id']}.jpg").resize((110, 125), Image.ANTIALIAS)
    template.paste(pic, (182, 368, 292, 493))
    draw = ImageDraw.Draw(template)
    #draw.text((110, 110), str(data['id']), font=font, fill='black')
   # draw.text((120, 120), data['name'], font=font, fill='black')
   # draw.text((130, 130), data['class'], font=font, fill='black')
    #draw.text((140, 140), data['dob'], font=font, fill='black')
    return template

In [46]:
for record in records:
    card = generate_card(record)
    card.save(f"cards/{record['id']}.jpg")