# Automatic Card Generation from Template 
## *Image Manipulation using Python*

In [41]:
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [42]:
from make_qr_code import generate_qr

In [43]:
df = pd.read_csv("students.csv")
df = df.dropna()

In [44]:
df

         id             name branch  year
0  19CE1088      Anuj Tiwari     CE  2019
1  19CE1045      Rajan Singh     CE  2019
2  19CE2028  Kshitij Darekar     CE  2019
3  19IT1001           Rahul      IT  2019
4  19IT1002           Neeraj     IT  2019
5  19IT1003           Ganesh     IT  2019
6  19ET1001            Ankit   EXTC  2019

In [45]:
records = df.to_dict(orient='record')

In [46]:
def generate(data):
    
    A= data['id']
    B= data['name']
    C= data['branch']
    D= data['year']
    return generate_qr(A, B, C, D)

In [54]:
for record in records:
    qr = generate(record)
    qr.save(f"photos/{record['id']}.jpg")

In [55]:
font = ImageFont.truetype("OpenSans-Semibold.ttf", size=23)

In [64]:
def generate_card(data):
    template = Image.open("template.png")
    pic = Image.open(f"photos/{data['id']}.jpg").resize((110, 125), Image.ANTIALIAS)
    template.paste(pic, (182, 368, 292, 493))
    draw = ImageDraw.Draw(template)
    draw.text((18, 277), "Name : "+data['name'], font=font, fill='black')
    draw.text((18, 327), "Roll No. : " + str(data['id']), font=font, fill='black')
    draw.text((18, 375), "Branch : "+data['branch'], font=font, fill='black')
    draw.text((18, 426), "Year : "+str(data['year']), font=font, fill='black')
    return template

In [65]:
for record in records:
    card = generate_card(record)
    card.save(f"cards/{record['id']}.jpg")